<form asp-action="SignOut" asp-controller="Auth" class="form-inline ml-2">
    <span class="my-2 my-sm-0 mr-3 text-light">Hello <strong
            class="text-info">@Context.GetCurrentUsername()</strong></span>
    <button class="btn btn-outline-info navbar-btn my-2 my-sm-0" type="submit">Logout</button>
</form>