@page
@model AccessDeniedModel
@{
    ViewData["Title"] = Model.Title;
}

<section id="accessDenied">
    <div class="alert alert-warning text-center" role="alert">
        <h4>Access denied</h4>
    </div>
</section>