@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = Model.Title;
}

<section id="forgotPassword">
    <div class="container">
        <div class="col-md-8 mx-auto">
            <h1>Did you forget your password? Just generate new one!</h1>
            <hr>
            <form method="POST">
                <fieldset class="form-group">
                    <label>Email address where your reset password token would be sent</label>
                    <input asp-for="@Model.Input.Email" type="email" class="form-control"
                        placeholder="Email address...">
                    <span asp-validation-for="@Model.Input.Email" class="text-danger"></span>
                </fieldset>
                <button type="submit" class="btn btn-outline-primary btn-block">Send reset password token</button>
            </form>
            <div class="d-flex flex-row justify-content-between align-items-center">
                <span class="text-muted">However do you remember your password?</span>
                <a asp-area="Auth" asp-page="/Login" class="btn btn-link">Just sign in to your account</a>
            </div>
        </div>
    </div>
</section>

<partial name="_AlertPartial" model="@Alertify.Alert" />