@page
@model ResetPasswordModel
@{
    ViewData["Title"] = Model.Title;
}

<section id="resetPassword">
    <div class="container">
        @if (!Model.PasswordChanged)
        {
            <div class="col-md-8 mx-auto">
                <h1>Enter a new password and reset it!</h1>
                <div class="text-danger" asp-validation-summary="All"></div>
                <hr>
                <form method="POST">
                    <fieldset class="form-group">
                        <label>Your new password</label>
                        <input asp-for=@Model.Input.NewPassword type="password" class="form-control"
                            placeholder="Your new password...">
                        <span asp-validation-for=@Model.Input.NewPassword class="text-danger"></span>
                    </fieldset>
                    <fieldset class="form-group">
                        <label>Confirm password</label>
                        <input asp-for=@Model.Input.ConfirmPassword type="password" class="form-control"
                            placeholder="Confirm your password...">
                        <span asp-validation-for=@Model.Input.ConfirmPassword class="text-danger"></span>
                    </fieldset>
                    <button type="submit" class="btn btn-outline-primary btn-block">Reset password</button>
                </form>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <div class="col">
                    <h3>Your password has been changed! Now you can sign in again!</h3>
                    <a asp-area="Auth" asp-page="/Login" class="btn btn-outline-info btn-block mt-3">Just sign in to your
                        account</a>
                </div>
            </div>
        }
    </div>
</section>

<partial name="_AlertPartial" model="@Alertify.Alert" />