@model OpinionsViewModel

<div class="container mt-3">
    <div class="col">
        <h2>Opinions</h2>
        <hr>
        @foreach (var opinion in Model.Opinions)
        {
          <partial name="_OpinionCard" model="@opinion" />
        }
        @if (Context.IsAuthenticated())
        {
            @if (Model.Opinions.Any())
            {
                <hr>
            }
            @await Component.InvokeAsync("OpinionForm", new { input = Model.Input })
        }
    </div>
</div>