@page
@model IndexModel
@{
    ViewData["Title"] = Model.Title;
}

<section id="home">
    <div class="container">
        <h1>MyBooking</h1>
        <div class="row">
            <div class="col-md-4">
                @await Component.InvokeAsync("OffersFilterForm", new {filterParams = Model.Params})
                <a asp-page="/Index" asp-route-clearFilters=@true
                    class="btn btn-outline-danger btn-block mt-2">Clear</a>
            </div>
            <div class="col-md-8">
                @foreach (var offer in Model.Offers)
                {
                    <partial name="_OfferCard" model="@(new OfferCardViewModel(offer))" />
                }
            </div>
        </div>
        <form method="POST" class="d-flex flex-row justify-content-end mt-3">
            <partial name="_PaginationPartial" model=@(PaginationViewModel.Build<OfferListDto>(Model.Offers,
                "FilterOffers")) />
        </form>
    </div>
</section>